name: Build and Deploy Frontend

on:
  push:
    paths:
      - .github/workflows/frontend.yaml
      - "docker/Dockerfile.frontend"
      - ".src/**"
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile.frontend
          push: true
          tags: |
            manish23333/frontend:latest
            manish23333/frontend:${{ github.sha }}

      # SSH DEPLOYMENT part
      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            echo "Pulling latest frontend image..."
            sudo docker pull manish23333/frontend:${{ github.sha }}

            echo "Stopping existing container..."
            docker stop frontend || true
            docker rm frontend || true

            echo "Starting new container..."
            docker run -d \
              --name frontend \
              -p 4000:4000 \
              manish23333/frontend:${{ github.sha }}
